<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">

		<link rel="stylesheet" href="css/style.css">
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	</head>
	<body>
<div id="keyA" class="key">
	<h1>A</h1>

</div>

<div id="keyS" class="key">

	<h1>S</h1>

</div>

<div id="keyD" class="key">
	<h1>D</h1>

</div>
<div id="keyF" class="key">
	<h1>F</h1>

</div>
<div id="keyH" class="key">
	<h1>H</h1>

</div>
<div id="keyJ" class="key">
	<h1>J</h1>

</div>
<div id="keyK" class="key">
	<h1>K</h1>

</div>
<div id="keyL" class="key">
<h1>L</h1>
</div>



		  <script src="js/index.js"></script>
	</body>
</html>
