<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">

		<link rel="stylesheet" href="css/style.css">

	</head>

	<body>
		<section id="inst">
			<h1 id="gameInst">Use arrows to control ren and A-left,D-right,w-up,s-down keys to conntrol Stimpy. The objective is to have them meet in the middle! Don't mess up and have to go up or you will be quite annoyed! </h1>
			<button id="click" type="button" name="button">click here </button>
		</section>



<div id="ren">

</div>

<div id="stimpy">

</div>











<script src="js/index.js"></script>
	</body>
</html>
